/* for basic design */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    width: 1600px;
    margin: 0 auto;
}
section{
    padding: 50px 240px 20px;
}
.section-title{
    font-size: 45px;
}
.description{
    color: #727272;
    margin: 10px 0 25px;
}
.primary-btn{
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    margin-bottom: 50px;
}
.black-text{
    color: #131313;
}
.orange-text{
    color: #FF900E;
}

/* header section design starts */
header{
    background: rgb(255,244,231);
}
/* ----------------
    navbar section design 
    ---------------*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.logo h2{
    font-weight: 900;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
nav li a:hover{
    color: blue;
}

/* ----------------
    banner section design 
    ---------------*/
.banner-container{
    text-align: center;
    margin-top: 50px;
}
.banner{
    padding: 0 250px;
}
.banner-title{
    margin-bottom: 25px;
    font-size: 64px;
    font-weight: 700;
}
.banner-container img{
    width: 100%;
}

/* ----------------
    feature section design 
    ---------------*/
    .feature-container{
        display: flex;
        gap: 70px;
        align-items: center;
    }
    .feature-images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .feature-title{
        color: #727272;
    }


/* ----------------
    article section design 
    ---------------*/
    .article{
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    .article-title{
        font-weight: 700;
        border-left: 5px solid #FF900E;
        padding-left: 20px;
        margin-bottom: 25px;
    }
    .part-of-article{
        margin: 20px 0 0;
        padding: 20px 20px 10px;
        border-radius: 8px;
        box-shadow: 0.5px 0.5px 10px #c4c4c4;
    }
    .sub-title{
        font-size: 20px;
        color: #131313;
        margin-bottom: 10px;
    }
    aside img{
        width: 100%;
        height: 100%;
    }
    .article-container{
        position: relative;
    }
    .other-btn{
        font-size: 20px;
        position: absolute;
        bottom: 0;
        left: 53%;
        margin-bottom: 0;
    }
    .bold-text{
        font-size: 40px;
    }

    /* ----------------
    some facts section design 
    ---------------*/
    .facts{
        margin-top: 130px;
    }
    .cards{
        display: flex;
        justify-content: space-evenly;
        margin-top: 80px;
    }
    .card{
        text-align: center;
        padding: 40px 30px;
        border: 1px solid #FF900E;
        transition: transform 1s;
    }
    .card:hover{
        transform: scale(1.2);
        box-shadow: 0.5px 0.5px 10px #FF900E;
    }
    .card-title{
        font-size: 30px;
        font-weight: 600;
    }
    .card-text{
        font-size: 20px;
        font-weight: 500;
    }

    /* ----------------
    sponspors section design 
    ---------------*/
    .sponspors{
        text-align: center;
        margin-top: 100px;
    }
    .companies{
        margin: 50px auto;
        display: flex;
        gap: 70px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

     /* ----------------
    contact section design 
    ---------------*/
    .contact{
        padding-top: 100px;
        background: rgb(255,244,231);
        text-align: center;
    }
    .contact h2{
        margin-bottom: 50px;
    }
    input, textarea{
        display: block;
        margin: 10px auto;
        width: 50%;
        resize: none;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 18px;
    }
    #submit-btn{
        width: 20%;
    }

    /* ----------------
    footer section design 
    ---------------*/
    footer{
        margin: 40px 240px;
    }
    .footer-text{
        background-color: #131313;
        color: white;
        text-align: center;
        padding: 30px;
    }



/* Responsive design for mobile device */
@media screen and (max-width: 688px) {
    body{
        width: 100%;
    }
    section{
        padding: 20px;
    }
    .section-title{
        font-size: 40px;
    }
    .navbar{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        padding-top: 30px;
    }
    .banner-container{
        margin-top: 0px;
    }
    .banner{
        padding: 0 20px;
    }
    .banner-title{
        font-size: 55px;
    }
    .feature-container{
        flex-direction: column;
    }
    .feature-images{
        grid-template-columns: repeat(1,1fr);
    }
    .article{
        flex-direction: column;
        margin-top: 0;
    }
    .other-btn{
        position: relative;
        left: 0;
    }
    .facts{
        margin-top: 50px;
    }
    .cards{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        width: 70%;
        margin: 0 auto;
    }
    .sponspors{
        margin-top: 50px;
    }
    .companies{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .contact{
        padding-top: 50px;
        text-align: left;
    }
    input, textarea{
        margin: 10px auto;
        width: 100%;
        font-size: 18px;
    }
    #submit-btn{
        width: 40%;
        margin-left: 0;
    }
    footer{
        margin: 20px;
    }
}


/* Responsive design for tablet device */
@media screen and (min-width: 689px) and (max-width: 991px){
    body{
        width: 100%;
    }
    section{
        padding: 20px;
    }
}